@media screen and(min-width: 968px) {
    :root {
        --huge-font-size: 3.5rem;
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }


}

@media (max-width: 968px){
    :root{
        --huge-font-size: 1.75rem;
    }
}





@media (min-width: 620px) {
    .nav__menu {
        display: flex;

    }

    .hamburger {
        display: none;
    }

    /* home */
    .home__container {
        max-width: 1260px;
        height: 100%;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        gap: 1fr;
        justify-items: center;
        align-items: center;
    }


    .home__caption {
        font-size: var(--huge-font-size);
        text-align: start;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    .home__container a {

        font-size: 1.5rem;
    }

    .media__container{
        right: 10px;
        bottom: 20px;
        font-size: 2.5rem;
    }




}

@media (max-width: 620px) {
    .nav__menu1 {
        display: none;
    }

    

    
}

/* TO DO */
@media only screen and (min-width: 767px){
   .blog_post{
       display: flex;
       
   } 
}


@media only screen and (max-width: 767px){
    .blog_post h2{
        /* TO Do */
    }
}


@media only screen and (max-width: 420px){
    .img__container{
        width: 85vw;
    }

}
